<head th:fragment="header(title)">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/external.css"  type="text/css">
    <link rel="stylesheet" href="/css/layout.css"  type="text/css">
    <link rel="stylesheet" href="/css/color.css"  type="text/css">
    <link rel="stylesheet" href="/css/font.css"  type="text/css">
    <link rel="stylesheet" href="/css/calendar/datepicker.css"  type="text/css">

    <link href="/css/calendar/datepicker.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/calendar/datepicker.js"></script>

    <title th:text="${title}"></title>
</head>
