<nav th:fragment="nav-top" class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/home">
        <img src="/image/logo.png" width="50" height="50" class="d-inline-block align-center" alt="">
        СМК ИЛ "НИИ ТЗИ"
    </a>

    <div class="dropdown show">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
            <span sec:authentication="name"/>
        </a>

        <div class="dropdown-menu dropdown-menu-right" >
            <a class="lab-dropdown-item" th:href="@{'/system/user/' + ${#authentication.name}}">Профиль</a>
            <a class="lab-dropdown-item" href="/logout">Выйти</a>
        </div>
    </div>
</nav>




<nav th:fragment="nav-side" class="nav flex-column navbar-dark bg-dark lab-sidenav">

    <div class="pl-4" id="accordion">

        <div class="mb-2">
            <a class="nav-link2" data-toggle="collapse" href="#collapse1">
                Журналы 1
            </a>

            <div id="collapse1" class="collapse" data-parent="#accordion">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/journal/weather">Погода</a>
                    <a class="nav-link" href="/journal/program">Программы</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                </nav>
            </div>
        </div>

        <div class="mb-2">
            <a class="nav-link2" data-toggle="collapse" href="#collapse2">
                Журналы 2
            </a>

            <div id="collapse2" class="collapse" data-parent="#accordion">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/project">Проекты</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                </nav>
            </div>
        </div>

        <div class="mb-2">
            <a class="nav-link2" data-toggle="collapse" href="#collapse3">
                Система
            </a>
            <div id="collapse3" class="collapse" data-parent="#accordion">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/system/user">Пользователи</a>
                    <a class="nav-link" href="/swagger-ui.html">Swagger</a>
                    <a class="nav-link" href="/h2-console">H2 console</a>
                    <a class="nav-link" href="#">Link</a>
                </nav>
            </div>
        </div>
    </div>
</nav>