<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'User profile'})"/>
<body>

<nav th:replace="fragments/navbar :: nav-top" />
<nav th:replace="fragments/navbar :: nav-side" />

<div class="lab-main">

    <p style="color: white;" th:text="${user.username}"></p>
    <p style="color: white;" th:text="${user.firstname}"></p>
    <p style="color: white;" th:text="${user.lastname}"></p>

</div>


<div th:replace="fragments/scripts :: bootstrap-js"/>
</body>
</html>