.lab-main{
    background-color: #343a40;
}

.nav-link{
    color: white;
}

.nav-link2{
    color: white;
}

.lab-login-maindiv{
    background-color: #343a40;
}

.lab-login-label{
    color: white;
}