.lab-color-white{
    color: white;
}

.lab-color-yellow{
    color: #d1cb17;
}

.lab-color-background-white{
    background-color: white;
}

.lab-color-main{
    color: #5B74A5;
}

.lab-color-background-main{
    background-color: #5B74A5;
}

.lab-color-head{
    color: #2B54A2;
}

.lab-color-background-head{
    background-color: #2B54A2;
}

.lab-color-navbar{
    color: #2B54A2;
}

.lab-color-background-navbar{
    background-color: #2B54A2;
}