.nav-div {
    width: 30px;
    background-color: #ffffff
}

.color-white {
    color: white
}

.table-margin {
    height: 800px;
    margin-left: 200px;
    margin-top: 10px;
    overflow: scroll;
}


.menu {
    background-color: #31373e;
    color: white;
    height: 900px;
    cursor: pointer;
    padding: 10px;
    float: left;
}

.button {
    background-color: #31373e;
    color: white;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
    margin-left: 60px;
    border-radius: 14px;
    font-size: 15pt;
}
.button:hover {
    background-color: #4f5c6b;
    color: white;
    font-size: 15pt;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
}

.dropdown-child {

    display: none;
    background-color: grey;
    min-width: 200px;
}

.menu a {
    color: #9fe3ed;

    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}
