.lab-sidenav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
}

.lab-main{
    margin-left: 250px;
    margin-top: 76px;
    height: 2000px;
}

.nav-link2{
    font-size: 14pt;
}

.lab-dropdown-item {
    display: block;
    width: auto;
    clear: both;
    text-align: right;
    white-space: nowrap;
    padding-right: 10px;
}

.lab-login-maindiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.lab-login-formdiv{
    margin-top: 5%;
    margin-left: 37%;
    margin-right: 37%
}

.lab-tools{
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 250px;
    overflow-x: hidden;
    background-color: blue;
}

.lab-content{
    background-color: blue;
    margin-top: 90px;
}

.lab-tools-button{
    width:10%;
    background-color: #343a40; /* #6c757e; */
    display: block;
    height: 40px;
    border-collapse: collapse;

}

.lab-tools-button:focus{
    outline: none;
}

.lab-svg:active{
    stroke: #ff6666; fill: #ff6666;
}
.lab-svg:hover{
    stroke: #dbd9d9; fill: #dbd9d9;
}

.lab-svg{
   color: #bdbdbd;
}

.lab-tools-group button{
    border: none;
}
