.lab-layout-head{
    height: 50px;
}

.lab-layout-navbar{
    height: 2000px;
    width: 200px;
    margin-top: 50px;
}

.lab-layout-main-content{
	padding-top: 50px;
	padding-left: 190px;
}

.lab-layout-tools{
    height: 30px;
    margin-bottom: 5px;
}

.lab-layout-content{
    height: 3000px;
    float: left;
}

.lab-layout-head-logo{
    float: left;
    position: fixed;
    margin-top: 2px;
    margin-left: 2px;
    width: 45px;
    height: 45px;
}

.lab-layout-head-text{
    float: left;
    position: fixed;
    font-size: 18pt;
    left: 50px;
    top: 5px;
}

.lab-layout-head-username{
    position: fixed;
    right: 20px;
    top: 10px;
}

.lab-layout-head-username-text{
    font-size: 14pt;
}

.lab-layout-login-form{
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
}

.lab-layout-login-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}