<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Home page'})"/>
<body>

<div th:replace="fragments/head :: head" />
<div th:replace="fragments/navbar :: navbar" />

<div class="lab-layout-main-content lab-color-background-main">
    <div class="container-fluid">
        <div class="row ">
            <div class="col">
                <div class="container-fluid lab-layout-content">
                    HOME PAGE
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts :: bootstrap-js"/>
</body>
</html>