<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(${'Login page'})"/>
<body>

<div class="lab-login-maindiv">
    <div class="lab-login-formdiv" >

        <div>
            <img class="rounded mx-auto d-block" src="/image/logo.png">
            <br>
            <p class="text-center" style="color: white; font-size: 20pt">СМК ИЛ "НИИ ТЗИ"</p>
            <br>
        </div>

        <form action="/login" method="post">

            <div class="form-group">
                <label class="lab-login-label" for="username">Имя пользователя:</label>
                <input class="form-control" id="username" type="text" name="username"/>
            </div>

            <div class="form-group">
                <label class="lab-login-label" for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="form-group">
                <label class="lab-login-label" for="button"></label>
                <button type="submit" class="btn btn-block btn-light" id="button">Войти</button>
            </div>

            <div th:if="${param.error}">
                <p class="lab-login-label"> Не верное имя пользователя или пароль! </p>
            </div>

            <div th:if="${param.logout}">
                <p class="lab-login-label"> Выполнен выход. </p>
            </div>

        </form>
    </div>
</div>

<div th:replace="fragments/scripts :: bootstrap-js"/>
</body>
</html>