<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Program page'})"/>
<body>

<nav th:replace="fragments/navbar :: nav-top" />
<nav th:replace="fragments/navbar :: nav-side" />

<div class="lab-main">

    <div style="color:white; padding-top: 50px; padding-left: 50px">

        <h1>
            <span th:text="${product.name}"/>
        </h1>

        <br>
        <br>
        <h2>
            <span th:text="'SN: ' + ${product.serialNumber}"/>
        </h2>

        <br>
        <br>
        <ul  th:each="task : ${product.tasks}">
            <li th:text="${task.task}" />
        </ul>

    </div>

</div>

<div th:replace="fragments/scripts :: bootstrap-js"/>
</body>
</html>