<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(${'Program Page'})"/>
    <body>

        <div th:replace="fragments/navbar :: navbar" />

        <div>
            <table class="table" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Версия</th>
                    <th scope="col">Хеш</th>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">Дата добавления</th>
                </tr>
                </thead>

                <tbody >
                <tr th:each="el : ${programList}">
                    <td th:text="${el.id}"></td>
                    <td th:text="${el.name}"></td>
                    <td th:text="${el.version}"></td>
                    <td th:text="${el.hash}"></td>
                    <td th:text="${el.userAdded}"></td>
                    <td th:text="${el.dateAdded}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="fragments/footer :: footer" />
        <div th:insert="fragments/bootstrap :: bootstrap-js"/>
    </body>
</html>