<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Program page'})"/>
<body>

<nav th:replace="fragments/navbar :: nav-top" />
<nav th:replace="fragments/navbar :: nav-side" />

<div class="lab-main">

    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" >#</th>
            <th scope="col">Договор</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Продукт</th>
            <th scope="col">Задача</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="el, state : ${taskList}">
                <td th:text="${state.index} + 1">  </td>
                <td>
                    <a class="nav-link"
                       th:href="'/contract/' +  ${el.product.contract.id}"
                       th:text="${el.product.contract.number} + ' от ' + ${el.product.contract.date}">
                    </a>
                </td>
                <td>
                    <a class="nav-link"
                       th:href="'/customer/' + ${el.product.contract.customer.id}"
                       th:text="${el.product.contract.customer.name}">
                    </a>
                </td>

                <td>
                    <a class="nav-link"
                       th:href="'/product/' + ${el.product.id}"
                       th:text="${el.product.name} + ' (' +  ${el.product.serialNumber} + ')'">
                    </a>
                </td>

                <td>
                    <a class="nav-link"
                       th:href="'/task/' + ${el.id}"
                       th:text="${el.task}">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/scripts :: bootstrap-js"/>
</body>
</html>