<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(${'Weather Page'})"/>
    <body>

        <div th:replace="fragments/navbar :: navbar" />

        <div>
            <table class="table" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col" >Дата</th>
                    <th scope="col">Температура</th>
                    <th scope="col">Влажность</th>
                    <th scope="col">Давление</th>
                </tr>
                </thead>

                <tbody >
                <tr th:each="el : ${weatherList}">
                    <td th:text="${el.date}"></td>
                    <td th:text="${el.temp}"></td>
                    <td th:text="${el.pres}"></td>
                    <td th:text="${el.hum}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="fragments/footer :: footer" />
        <div th:insert="fragments/bootstrap :: bootstrap-js"/>
    </body>
</html>